<footer class="site-footer">
  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="https://twitter.com/wayne_graham"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/waynegraham/"><i class="fa fa-github"></i></a>
         <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
        </a>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
{% for js in page.external-javascript %}
  <script src="{{ js }}"></script>
{% endfor %}
{% for js in page.javascript %}
  <script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}
