<footer class="site-footer">
  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="https://twitter.com/wayne_graham"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/waynegraham/"><i class="fa fa-github"></i></a>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
{% for js in page.javascript %}
  <script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}
