<footer class="site-footer">
  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="https://twitter.com/wayne_graham"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/waynegraham/"><i class="fab fa-github"></i></a>
         <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"> <i class="fab fa-creative-commons"></i>
        </a>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% for js in page.external-javascript %}
  <script src="{{ js }}"></script>
{% endfor %}
{% for js in page.javascript %}
  <script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}
