<header class="site-header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-link" href="{{ "/alumni/" | prepend: site.baseurl }}">Alumni</a></li>
            <li><a class="page-link" href="{{ "/exercises/" | prepend: site.baseurl }}">Exercises</a></li>
            <li><a class="page-link" href="{{ "/resources/" | prepend: site.baseurl }}">Resources</a></li>
            <li><a class="page-link" href="{{ "/syllabus/" | prepend: site.baseurl }}">Syllabus</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</header>



