---
layout: default
---
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Introduction to Programming</h1>
        <h2>For Humanists</h2>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container wb">
  <div class="row centered">
    <br><br>
    <div class="col-lg-8 col-lg-offset-2">
      {{ content }}
    </div>
  </div>
</div>

<div id="dg">
  <div class="container">
    <div class="row centered">
      <h3>Instructors</h3>
      <div class="col-lg-6">
        <h4>Wayne Graham</h4>
        <img class="img-circle" src="http://baconmockup.com/110/110" width="110" height="110" alt="Wayne Graham">
        <p>Head of the R&amp;D team at the University of Virginia's <a
          href="http://scholarslab.org">Scholars’ Lab</a>. Studied US Colonial
        History at the <a href="http://www.wm.edu/as/history/">College of
          William and Mary</a> and wrote a couple of books on <a
          href="https://www.apress.com/index.php/author/author/view/id/2276">developing
          applications for the Facebook platform</a>. Research interests are
        in computer graphics, augmented reality, architectural history, quantitative
        and digital methodology, as well as frontier studies.</p>

        <p><a href="http://twitter.com/wayne_graham"><i class="fa fa-twitter"></i>@wayne_graham</a> | <a href="http://github.com/waynegraham"><i class="fa fa-github"></i> waynegraham</a></p>
      </div>

      <div class="col-lg-6">
        <h4>Brandon Walsh</h4>
        <img class="img-circle" src="http://baconmockup.com/110/110" width="110" height="110" alt="Brandon Walsh">
        <p>Brandon was a 2012-2013 <a href="http://praxis.scholarslab.org">Praxis
          Fellow</a> and a Ph.D. student in the <a href="http://www.engl.virginia.edu/">University of Virginia's Department
          of English</a>. His research focuses on modern and contemporary fiction,
        especially on Anglophone modernisms and the novel in relation to sound
        studies and musicology.</p>

        <p><a href="https://twitter.com/walshbr"><i class="fa fa-twitter"></i> @waslhbr</a>| <a href="https://github.com/bmw9t"><i class="fa fa-github"></i> mbw9t</a></p>
      </div>
    </div>
  </div>
</div>

