---
layout: default
---
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Introduction to Programming</h1>
        <h2>For Humanists</h2>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container wb">
  <div class="row centered">
    <br><br>
    <div class="col-lg-8 col-lg-offset-2">
      {{ content }}
    </div>
  </div>
</div>

<div id="dg">
  <div class="container">
    <div class="row centered">
      <h3>Instructors</h3>

      <div class="col-lg-6">
        <h4>Brandon Walsh</h4>
        <img class="img-circle" src="{{ "/assets/img/brandon-crop.jpg" | prepend: site.baseurl }}" width="110" height="110" alt="Brandon Walsh">
        <p>Brandon Walsh is Assistant Professor and Mellon Digital Humanities Fellow in the Library at <a href="https://digitalhumanities.wlu.edu">Washington and Lee University</a>. He received his PhD in English from the University of Virginia, where he also held fellowships in the <a href="https://scholarslab.org">Scholars' Lab</a>. His research works at the intersections of literary studies, sound studies and digital humanities. Check out his <a href="https://bmw9t.github.io">personal site</a> for more information about his various projects.</p>

        <p><a href="https://twitter.com/walshbr"><i class="fa fa-twitter"></i> @walshbr</a> | <a href="https://github.com/bmw9t"><i class="fa fa-github"></i> bmw9t</a></p>
      </div>

      <div class="col-lg-6">
        <h4>Ethan Reed</h4>
        <img class="img-circle" src="{{ "/assets/img/ethan-crop.jpg" | prepend: site.baseurl }}" width="110" height="110" alt="Ethan Reed">
        <p>Ethan Reed is a doctoral candidate in English at the University of Virginia. He was a 2015-2015 Praxis Program Fellow in the <a href="https://scholarslab.org">Scholars' Lab</a>, where he was also lead developer for <a href="http://clockwork.scholarslab.org/">ClockWork</a>, a sonification project.</p>

        <p><a href="http://twitter.com/reedeth"><i class="fa fa-twitter"></i>@reedeth</a> | <a href="http://github.com/reedeth"><i class="fa fa-github"></i> reedeth</a></p>
      </div>
    </div>
  </div>
</div>

